body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	margin-bottom: 20px;
	font-size: 2rem;
	color: #854fc2;
}

input[type='text'],
input[type='password'] {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-size: 1rem;
	box-sizing: border-box;
	color: #340b64;
	outline: none;
}

input::placeholder {
	color: #21073e83;
}

input:focus {
	border: 2px solid #854fc2;
	box-shadow: 0 0 5px #21073e83;
}

button {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	background-color: #854fc2;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #672daa;
}

#data-container {
	margin-top: 20px;
	width: 100%;
	max-width: 300px;
}

.item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.item p {
	margin: 0;
	font-size: 1rem;
}
